@font-face {
  font-family: "iconfont"; /* Project id 2739923 */
  src: url('iconfont.woff2?t=1634547353329') format('woff2'),
       url('iconfont.woff?t=1634547353329') format('woff'),
       url('iconfont.ttf?t=1634547353329') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-dianzan:before {
  content: "\e608";
}

.icon-xinlangweibo:before {
  content: "\e604";
}

.icon-weixin:before {
  content: "\e606";
}

.icon-zhangshang:before {
  content: "\e673";
}

.icon-icon_video:before {
  content: "\e618";
}

.icon-tuanduicankaoxian-:before {
  content: "\e642";
}

.icon-bizhi:before {
  content: "\e607";
}

.icon-xingji:before {
  content: "\e812";
}

.icon-clothes:before {
  content: "\e8c7";
}

.icon-500px:before {
  content: "\e85c";
}

.icon-sucai:before {
  content: "\e630";
}

.icon-jiang:before {
  content: "\e600";
}

.icon-AI:before {
  content: "\e634";
}

.icon-gongtu:before {
  content: "\e680";
}

.icon-love:before {
  content: "\e601";
}

.icon-shoucangjia:before {
  content: "\e626";
}

.icon-picture:before {
  content: "\e603";
}

.icon-anquan:before {
  content: "\e796";
}

.icon-icon-24-xiajiantou:before {
  content: "\e612";
}

.icon-icon-24-shangjiantou:before {
  content: "\e613";
}

.icon-icon-24-xiangji:before {
  content: "\e615";
}

.icon-tianhuanhuofuwu:before {
  content: "\e6a4";
}

.icon-dingwei:before {
  content: "\e611";
}

.icon-liwu:before {
  content: "\e605";
}

.icon-weixiu:before {
  content: "\e6f9";
}

.icon-a-7tiantuihuo:before {
  content: "\e616";
}

.icon-sousuo:before {
  content: "\e646";
}

.icon-gouwuche:before {
  content: "\e643";
}

.icon-twitter-fill:before {
  content: "\e7c0";
}

.icon-dianhua:before {
  content: "\e602";
}

.icon-shezhi:before {
  content: "\f89c";
}

.icon-Wifi-1:before {
  content: "\e837";
}

.icon-home:before {
  content: "\e617";
}

