*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: #f7f7f7; */
    position: relative;
}
.w{
    border-radius: 10px;
    width: 705px;
    margin: 30px 600px;
    background-color: #f7f7f7;

}
/* 头部 */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #b8b4b5;
}
span{
    color: #b8b4b5;
}
.box1{
    position: relative;
    background-color: #fff;
}
header{
    width: 1080px;
    height: 65px;
    margin: 0 auto;
}
.a{
    float: left;
    width: 130px;
    height: 50px;
    margin-top: 15px;
}
.a1{
    float: right;
    width: 535px;
    height: 36px;
    margin-top: 29px;
    margin-right: 25px;
}
.a2{
    position: relative;
    float: right;
    width: 217px;
    height: 48px;
    margin-top: 17px;
    color: #827523;
    font-size: 12px;
}
.a2 span{
    position: absolute;
    top: 17px;
    left: 118px;
}
.a3{
    float: right;
    width: 78px;
    height: 34px;
    border: 1px solid #fc584e;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    color: #fc584e;
    cursor: pointer;
}
.a4{
    display: flex;
    float: right;
    margin-right: 15px;
    width: 430px;
    height: 34px;
    border: 1px solid #fc584e;
    justify-content: flex-end;
}
.a4 button{
    flex: 1;
    background-color: #fc584e;
    border: none;
    color: white;
    margin-bottom: 1px;
    cursor: pointer;
}
.a4 input{
    flex: 3;
    border: none;
    outline:none ;
    text-indent: 1em;
}
/* 导航分类 */
.box{
    width: 1080px;
    height: 34px;
    margin: 0 auto;
    margin-top: 20px;
}
.box ul li{
    width: 100px;
    height: 34px;
    float: left;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.box ul li a {
    color: black;
}
.box ul li:nth-child(4){
    background-color: #fc584e;
    color: white;
}
.box ul li:nth-child(4) a{
    color: white;
}
.box ul li:nth-child(4) a:hover{
    color: white;
}
.box ul li a:hover{
    color: #fc584e;
}
.denglu{
    float: right;
    width: 100px;
    height: 34px;
}
.denglu ul li{
    width: 50px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}

.denglu ul li:hover{
    background-color: #fc584e;
    }
.denglu ul li:hover a{
        color: white;
    
    }
/* 分割线 */
.fengexian{
    width: 100%;
    height: 1px;
    background-color: #b1b1b1;
    margin-top: 15px;
}

/* 免费试用 */
.box2{
    width: 705px;
    height: 941px;
    margin-top: 30px;
}
.box2 .mianfei h2{
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 500;
}
/* 流程 */
.liucheng{
    margin-left: 30px;
}
.liucheng h4{
    font-weight: 550;
    margin: 20px 0;
}
.liucheng p{
    line-height: 30px;
}
/* 注意 */
.zhuyi{
    margin-left: 30px;
}
.zhuyi h4{
    font-weight: 550;
    margin: 20px 0;
}
.zhuyi p{
    line-height: 30px;
}
/* 帮助中心 */
.box4{
    position: absolute;
    top: 165px;
    left: 290px;
    width: 272px;
    height: 320px;
    background-color: #f7f7f7;
    border-radius: 10px;
}
.bangzhu h2{
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 500;
}
.hezuo h4{
    font-weight: 550;
    margin-top: 20px;
    margin-left: 35px;
}
.hezuo ul{
    margin-top: 10px;
    margin-left: 45px;
    line-height: 25px;
}
.hezuo ul li a:hover{
    color: #fc584e;
}
.probation h4{
    font-weight: 550;
    margin-top: 20px;
    margin-left: 35px;
}
.probation ul{
    margin-top: 10px;
    margin-left: 45px;
    line-height: 25px;
}
.probation ul li a:hover{
    color: #fc584e;
}
/* 尾部样式 */
footer{
    width: 100%;
    height: 300px;
    background-color: #505050;
    
}
footer .box3{
    position: relative;
    width: 1080px;
    height: 300px;
    margin: 0px auto;
}
footer .box3 .left{
    float: left;
    width: 350px;
    height: 250px;
    margin-top: 25px;
}
footer .box3 .left img{
    float: left;
}
footer .box3 .left .jiguo{
    float: left;
    width: 150px;
    height: 250px;
    margin-left: 20px;
}
footer .box3 .left .jiguo p{
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 40px;
    color:#ccc;
    font-size: 13px;
}
footer .box3 .right{
    float: left;
    width: 715px;
    height: 250px;
    margin-left: 15px;
    margin-top: 25px;
}
footer .box3 .right dl{
    float: left;
    margin-right: 35px;
    color: white;
}
footer .box3 .right dl a{
    float: left;
    margin-right: 35px;
    color: white;
}
footer .box3 .right dt{
    font-size: 14px;
    color: #919996;
    margin-top: 5px;
}
footer .box3 .right dl dt:nth-child(1){
    margin-top: 30px;
}
.di{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 20px;
    font-size: 14px;
    color: #919996;
}
/* 回到顶部 */
.top {
    position: fixed;
    bottom: 140px;
    right: 40px;
    width: 50px;
    height: 50px;
    background-color: #eeeeef;
    border-radius: 7px;
    cursor: pointer;
    display: none;
}
.top span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #9fa0a7;
}
.top span .icon-icon-24-shangjiantou {
    position: absolute;
    top: 11px;
    left: 35%;
    transition: all .45s cubic-bezier(.165,.84,.44,1);
}
.top span p {
    font-size: 11px;
    position: absolute;
    top: 25px;
    left: 28%;
    transition: transform .35s cubic-bezier(.165,.84,.44,1);
}
.top:hover .icon-icon-24-shangjiantou {
    opacity: 0;
    transform:  translateY(-10px);
    color: black;
}
.top:hover p {
    transform: translateY(-7px);
    color: black;
}
